html {
  max-width: 655px;
  margin: 0 auto;
}

.reset-button {
  border: 1px solid black;
  border-radius: 26px;
  padding: 8px 14px;
}

/*
  1. Typography
*/
* {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  text-align: center;
}

/*
  Colors 
*/
.deep-pink {
  color: deeppink;
}

.deep-skyblue {
  color: deepskyblue;
}

/*
  Border Styles
*/
.col-1 {
  border-left: 1px solid black;
}

.row-4, .row-5, .row-6 {
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.row-6 {
  border-bottom: 1px solid black;
}

/*
  Grid layout
*/
.grid {
  align-items: center;
  display: grid;
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-row-1 {
  grid-template-rows: minmax(50px, 100px);
}

.grid-row-3 {
  grid-template-rows: repeat(3, minmax(50px, 1fr));
}


/*
  Grid Column Positioning
*/
.player2-label {
  grid-column: 3/4;
}

.game-name,
.reset-game,
#message {
  grid-column: 2/3;
}

/*
  Grid Row Positioning
*/
.game-name {
  grid-row: 1;
}

.reset-game {
  grid-row: 2;
}

.scoreboard,
#message {
  grid-row: 3;
}

.row-4 {
  grid-row: 4;
}

.row-5 {
  grid-row: 5;
}

.row-6 {
  grid-row: 6;
}

.choice-wrapper {
  font-size: 2rem;
  padding: 20px;
  height: 50px;
}

.reset-button:hover {
  background-color: lightgreen;
}

@media screen and (max-width: 655px) {
  body, a {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 655px) {
  body, a {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 326px) {
  .reset-button {
    font-size: 1.2rem;
  }
}